@using System.Security.Claims
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Автосервиз</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap&subset=cyrillic,cyrillic-ext" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-combined.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/awesome/all.css" />
    @RenderSection("Styles", false)
</head>
<body class="logged">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="user-name">
                <span>@User.FindFirstValue(ClaimTypes.Name).Split(' ')[0]</span>
            </div>
            <div class="user-rights">
                <span>@User.FindFirstValue(ClaimTypes.Authentication).ToLower()</span>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"><img src="~/images/logo.png" /></a>
            </div>
            <div class="navbar-collapse collapse">
                @await Component.InvokeAsync("Header")
                <a class="exit-button" asp-area="" asp-controller="User" asp-action="LogOut"><img src="~/images/exit.png" height="20" /></a>
                <div id="fade"></div>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <div class="container">
            <p>&copy; 2020 - Автосервиз</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    @await Component.InvokeAsync("Popup")
</body>
</html>
